<a href="https://colab.research.google.com/github/martharegina/machinelearning/blob/main/lending_club.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Load dataset
data = pd.read_csv(
    '/content/accepted_2007_to_2018Q4.csv.gz',
    compression='gzip',
    low_memory=False)
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
object_cols = [
    'annual_inc',
    'dti',
    'fico_range_low',
    'fico_range_high',
    'emp_length',
    'revol_util',
    'total_acc',
    'open_acc',
    'delinq_2yrs',
    'loan_amnt',
    'installment',
    'term',
    'int_rate',
    'purpose',
    'application_type',
    'home_ownership',
    'issue_d'
]

data = data[object_cols]
data.head()

,annual_inc,dti,fico_range_low,fico_range_high,emp_length,revol_util,total_acc,open_acc,delinq_2yrs,loan_amnt,installment,term,int_rate,purpose,application_type,home_ownership,issue_d
0,55000.0,5.91,675.0,679.0,10+ years,29.7,13.0,7.0,0.0,3600.0,123.03,36 months,13.99,debt_consolidation,Individual,MORTGAGE,Dec-2015
1,65000.0,16.06,715.0,719.0,10+ years,19.2,38.0,22.0,1.0,24700.0,820.28,36 months,11.99,small_business,Individual,MORTGAGE,Dec-2015
2,63000.0,10.78,695.0,699.0,10+ years,56.2,18.0,6.0,0.0,20000.0,432.66,60 months,10.78,home_improvement,Joint App,MORTGAGE,Dec-2015
3,110000.0,17.06,785.0,789.0,10+ years,11.6,17.0,13.0,0.0,35000.0,829.90,60 months,14.85,debt_consolidation,Individual,MORTGAGE,Dec-2015
4,104433.0,25.37,695.0,699.0,3 years,64.5,35.0,12.0,1.0,10400.0,289.91,60 months,22.45,major_purchase,Individual,MORTGAGE,Dec-2015

In [4]:
data.shape

(2260701, 17)

In [5]:
data.isna().sum()

annual_inc              37
dti                   1744
fico_range_low          33
fico_range_high         33
emp_length          146940
revol_util            1835
total_acc               62
open_acc                62
delinq_2yrs             62
loan_amnt               33
installment             33
term                    33
int_rate                33
purpose                 33
application_type        33
home_ownership          33
issue_d                 33
dtype: int64

In [6]:
data = data.dropna(axis=0)
data.shape

(2111997, 17)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2111997 entries, 0 to 2260698
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   annual_inc        float64
 1   dti               float64
 2   fico_range_low    float64
 3   fico_range_high   float64
 4   emp_length        object
 5   revol_util        float64
 6   total_acc         float64
 7   open_acc          float64
 8   delinq_2yrs       float64
 9   loan_amnt         float64
 10  installment       float64
 11  term              object
 12  int_rate          float64
 13  purpose           object
 14  application_type  object
 15  home_ownership    object
 16  issue_d           object
dtypes: float64(11), object(6)
memory usage: 290.0+ MB

In [9]:
# Pilih data di tahun 2018 saja

data['issue_d'] = pd.to_datetime(data['issue_d'])
data = data[data['issue_d'].dt.year == 2018]
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 452656 entries, 421097 to 1611876
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   annual_inc        452656 non-null  float64
 1   dti               452656 non-null  float64
 2   fico_range_low    452656 non-null  float64
 3   fico_range_high   452656 non-null  float64
 4   emp_length        452656 non-null  object
 5   revol_util        452656 non-null  float64
 6   total_acc         452656 non-null  float64
 7   open_acc          452656 non-null  float64
 8   delinq_2yrs       452656 non-null  float64
 9   loan_amnt         452656 non-null  float64
 10  installment       452656 non-null  float64
 11  term              452656 non-null  object
 12  int_rate          452656 non-null  float64
 13  purpose           452656 non-null  object
 14  application_type  452656 non-null  object
 15  home_ownership    452656 non-null  object
 16  issue_d           452656 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(11), object(5)
memory usage: 62.2+ MB

Penjelasan setiap kolom:
* annual_inc: pendapatan tahunan peminjam, ukuran utama kemampuan bayar
* dti (debt-to-income ratio): persentase total cicilan terhadap pendapatan
* fico_range_low dan fico_range_high: skor kredit (batas bawah dan atas)
* emp_length: lama bekerja (stabilitas pendapatan)
* revol_util: persentase pengunaan kredit bergulir (kartu kredit)
* total_acc: total jumlah akun kredit sepanjang hidup
* open_acc: jumlah akun kredit aktif
* delinq_2yrs: jumlah keterlambatan >30 hari dalam 2 tahun terakhir
* loan_amt: jumlah pinjaman aktual
* installment: cicilan bulanan
* term: tenor (36 atau 60 bulan)
* int_rate: suku bunga
* purpose: tujuan pinjaman
* application_type: individual atau joint
* home_ownership: status kepemilikan rumah (rent, own, mortgage)
* issue_d: tanggal pinjaman diterbitkan

In [10]:
data.head()

,annual_inc,dti,fico_range_low,fico_range_high,emp_length,revol_util,total_acc,open_acc,delinq_2yrs,loan_amnt,installment,term,int_rate,purpose,application_type,home_ownership,issue_d
421097,50000.0,21.80,665.0,669.0,8 years,23.2,18.0,5.0,1.0,5000.0,186.82,36 months,20.39,other,Individual,RENT,2018-03-01
421098,196000.0,18.29,700.0,704.0,2 years,46.3,53.0,19.0,0.0,15000.0,483.45,36 months,9.92,debt_consolidation,Individual,OWN,2018-03-01
421099,44000.0,43.97,665.0,669.0,< 1 year,24.6,14.0,8.0,1.0,11200.0,367.82,60 months,30.79,medical,Joint App,RENT,2018-03-01
421100,65000.0,12.89,665.0,669.0,10+ years,98.4,16.0,7.0,1.0,25000.0,688.35,60 months,21.85,debt_consolidation,Individual,MORTGAGE,2018-03-01
421101,52000.0,0.58,760.0,764.0,9 years,0.5,30.0,7.0,0.0,3000.0,93.10,36 months,7.34,major_purchase,Individual,RENT,2018-03-01

In [20]:
# Ordinal encoding emp_length
emp_map = {
    '< 1 year': 0,
    '1 year': 1,
    '2 years': 2,
    '3 years': 3,
    '4 years': 4,
    '5 years': 5,
    '6 years': 6,
    '7 years': 7,
    '8 years': 8,
    '9 years': 9,
    '10+ years': 10
}
data['emp_length'] = data['emp_length'].map(emp_map)
data.head()

,annual_inc,dti,fico_range_low,fico_range_high,emp_length,revol_util,total_acc,open_acc,delinq_2yrs,loan_amnt,installment,term,int_rate,purpose,application_type,home_ownership,issue_d
421097,50000.0,21.80,665.0,669.0,8,23.2,18.0,5.0,1.0,5000.0,186.82,36 months,20.39,other,Individual,RENT,2018-03-01
421098,196000.0,18.29,700.0,704.0,2,46.3,53.0,19.0,0.0,15000.0,483.45,36 months,9.92,debt_consolidation,Individual,OWN,2018-03-01
421099,44000.0,43.97,665.0,669.0,0,24.6,14.0,8.0,1.0,11200.0,367.82,60 months,30.79,medical,Joint App,RENT,2018-03-01
421100,65000.0,12.89,665.0,669.0,10,98.4,16.0,7.0,1.0,25000.0,688.35,60 months,21.85,debt_consolidation,Individual,MORTGAGE,2018-03-01
421101,52000.0,0.58,760.0,764.0,9,0.5,30.0,7.0,0.0,3000.0,93.10,36 months,7.34,major_purchase,Individual,RENT,2018-03-01

In [21]:
# Binary encoding term
data['term'] = data['term'].map({' 36 months': 0, ' 60 months': 1})
data.head()

,annual_inc,dti,fico_range_low,fico_range_high,emp_length,revol_util,total_acc,open_acc,delinq_2yrs,loan_amnt,installment,term,int_rate,purpose,application_type,home_ownership,issue_d
421097,50000.0,21.80,665.0,669.0,8,23.2,18.0,5.0,1.0,5000.0,186.82,0,20.39,other,Individual,RENT,2018-03-01
421098,196000.0,18.29,700.0,704.0,2,46.3,53.0,19.0,0.0,15000.0,483.45,0,9.92,debt_consolidation,Individual,OWN,2018-03-01
421099,44000.0,43.97,665.0,669.0,0,24.6,14.0,8.0,1.0,11200.0,367.82,1,30.79,medical,Joint App,RENT,2018-03-01
421100,65000.0,12.89,665.0,669.0,10,98.4,16.0,7.0,1.0,25000.0,688.35,1,21.85,debt_consolidation,Individual,MORTGAGE,2018-03-01
421101,52000.0,0.58,760.0,764.0,9,0.5,30.0,7.0,0.0,3000.0,93.10,0,7.34,major_purchase,Individual,RENT,2018-03-01

In [ ]:
# Behavioral grouping purpose
consumption = ['credit_card', 'vacation', 'wedding', 'moving', 'medical']